.videoContent {
    width: 1422px;
    height:945px;
    background-color: #000000;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;      
}
.videoPlayer {
    width:1400px;
    height: 770px;
    margin-top: 60px;
    margin-left: 12px;
}
.sidebarLogo  {
    position: absolute;
    margin-top:350px;
    margin-left:-750px;
    
}
.sidebarLogo:hover * {
    fill:#BDAE82;
}